<div class="container mt-3 text-center">
    <h2>This is the home page!</h2>
    <ul class="list-group list-group-horizontal-xl text-center">
        <li class="list-group-item list-group-item-action"><a href="/sum.html">Go caculating some number!</a></li>
        <li class="list-group-item list-group-item-action"><a href="/myName">Login</a></li>
        <li class="list-group-item list-group-item-action"><a href="/logout">Logout</a></li>
    </ul>
</div>
   

